  <%= javascript_include_tag 'code2_1' %>
  
  <script src="https://maps.google.com/maps?file=api&v=2&key=AIzaSyCVdA8BviehlgO1NcLlkMxtY4LOhRDC3pE&sensor=false"
        type="text/javascript" charset="utf-8"></script>
  
  
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 700px; height: 500px"></div>
    <div id="route" style="width: 700px; height: 400px;overflow: scroll"></div>
  </body>


