
/* mixins, variables */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* various */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

img {
  width: 300px;
  height: 300px;
}



/* base */

.base-new {
  text-align: left;
}


/* form */

.edit-form {
  width: 400px;
  height: 40px;
}

.new-form {
  width: 400px;
  height: 40px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


/* csv */

.input-group {
  padding-top: 20px;
  float: right;
}


/* home */

.home-title {
  padding: 20px;
  text-align: center;
  margin: auto;
}

.home-image {
  text-align: center;
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
 .img-fluid {
   width: 200px;
   height: auto;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 .img-fluid {
   max-width: 200px;
   height: auto;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 .img-fluid {
   max-width: 100%;
   height: auto;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 .img-fluid {
   max-width: 100%;
   height: auto;
 }
}

.login {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron { 
  // background:url(home.jpg) center no-repeat;
  // background-size: cover;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.jumbotron h1,
.jumbotron p {
  color: navy;
  text-align: center;
}


/* top-page */

@media screen and (max-width:639px) {
/*スマホ用のcssを記述*/
  .top-image img {
    display: none;
  }
  .top-button {
    width: 100%;
    margin-top: 80px;
    padding: 40px;
    font-size: 70px;
  }
}
   
@media only screen and (min-width:640px) and (max-width:1023px) {
/*tablet用のcssを記述*/
  .top-image img {
    display: none;
  }
  .top-button {
    width: 100%;
    margin-top: 80px;
    padding: 40px;
    font-size: 70px;
  }
}
  
@media screen and (min-width:1024px) {
/*pc用のcssを記述*/
  .top-image img {
    width: 100%;
    height: 600px;
    margin-top: 20px;
  }
  .top-button {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    font-size: 20pt;
  }
}



/* login */

.title-name {
  padding: 30px;
  text-align: center;
}

/* daily */

.pdf {
  float: right;
  margin-bottom: 10px;
}


/* modal */

.modal-title {
  margin-left: auto;
}


/* plan_list */

.inner {
  display: flex;
}

.daily_report {
  margin-top: 5px;
  margin-left: auto;
  width: auto;
}


/* delivery_plan */

.reset {
  width: auto;
  margin-right: auto;
}
