<% provide(:title, "会社情報") %>

<h1>会社情報</h1>

<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>会社名</th>
      <th>郵便番号</th>
      <th>所在地</th>
      <th>電話番号</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>テスト</td>
      <td>テスト</td>
      <td>テスト</td>
      <td>テスト</td>
    </tr>
  </tbody>

</table>

