<% provide(:title, "日報ページ") %>

<div class="title-name">
  <h1>日報</h1>
</div>

<%= month_calendar do |date| %>
  <%= date.strftime("%-m月%-d日") %>
  <% if DailyReport.where(day: date, report_name: @user.name).count > 0 %><br>
    <%= link_to "日報", daily_show_path(date: date) %>
  <% end %>
<% end %>